$primary: #014B94;
$primary_light: #0072d4;
$success: rgb(81, 174, 49);
$warning: rgb(243, 146, 0);
$danger: rgb(212, 15, 20);
$border-radius-scroll: 8px;

$breakpoint-mobile: 992px;
::selection {
  background-color: $primary !important;
}

html body {
  background-color: $primary !important;
  overscroll-behavior-y: none;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: $border-radius-scroll !important;
    background-color: white !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary_light !important;
    border-radius: $border-radius-scroll !important;
  }

  ///* Track */
  //::-webkit-scrollbar-track {
  //  background-color: $primary;
  //}
  //
  ///* Handle */
  //::-webkit-scrollbar-thumb {
  //  background: lightgrey;
  //}

}

.betterScroller {
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: $border-radius-scroll !important;
    background-color: white !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary_light !important;
    border-radius: $border-radius-scroll !important;
  }
}

#app * {
  @extend .betterScroller;
}

.clickable {
  cursor: pointer;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
