$primary: #014B94;

$breakpoint-mobile: 992px;
::selection {
  background-color: $primary !important;
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
